#next, #prev, #like, #dislike {
    width: 40%
}

.control {
    width: 80%;
}

#waveform {
    display: none;
}

#menu {
    padding-top: 2px;
    height: 0px;
    width: 80%;
    border-radius: 4px;
    border: 0px none;
    box-shadow: 0px 0px 0px 1px rgba(144, 144, 144, 0.5) inset;
    display:none;


}

#openMenu {
    cursor: pointer;

}

#menu label{
    margin-left:10px;
}

#help{
    margin-left: 545px;
    cursor: pointer;
}

a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid white;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
    margin-right: 10px;
    margin-left: 10px;
}

a.toggler:hover{
    border-bottom-color: white !important;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}

#numsplit {
    border-radius: 4px;
    border: 0px none;
    box-shadow: 0px 0px 0px 1px rgba(144, 144, 144, 0.5) inset;
    margin-right: 10%;
    margin-top: 10px;
}