#next, #prev, #like, #dislike {
    width: 45%
}

.control, #connect {
    width: 90%;
}

hr {
    width: 90%;
}

#help {
    margin-left: 545px;
    cursor: pointer;
}

.search {
    width: 100%;
}

.album-art img {
    width: 75px;
    height: 75px;
}

#tracks{
    width:100%;
}

a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid white;
    border-right-width: 15px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
    margin-right: 10px;
}

a.toggler:hover {
    border-bottom-color: white !important;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}
