@(url: String, snipStart: Double)

@main(snipStart) {
    <div class="widgetContainer">
        <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://@url" width="100%" height="295" scrolling="no" frameborder="no"></iframe>
    </div>

    <div class="actionsContainer">
        <input class="urlInput" placeholder="Enter SoundCloud URL of the track." type="text">
        <button class="reload">Reload</button>
                    <form>
                      <input type="range" class="volume">
                    </form>
        <dl class="actionButtons">
            <dd><button class="seekTo">Seek <input type="text" value="50000" size="10" maxlength="10" /></button></dd>
            <dd><button class="preview" value=@snipStart>Preview</button></dd>
            <dd><button class="prev">Prev</button></dd>
            <dd><button class="next">Next</button></dd>
            <dd><button class="randSong">Random Song</button></dd>
            <dd><button class="clear">Clear Events</button></dd>
            <dd><input type="image" src="@routes.Assets.at("images/connect.png")" class="connect"></dd>
        </dl>
    </div>

    <script>
        var widgetIframe = document.getElementById('sc-widget');
	var widget = SC.Widget(widgetIframe);
	var previewButton = document.querySelector('.preview');
	var reloadButton = document.querySelector('.reload');
	var widgetUrlInput = document.querySelector('.urlInput');
	var curURL = "@url";
	var snipWin = 10000.00;
	var songStart = parseFloat(previewButton.value) - (snipWin/2);
	var songEnd = songStart + snipWin;

        //Template for adding event listeners.
        function addEvent(element, eventName, callback) {
            if (element.addEventListener) {
                element.addEventListener(eventName, callback, false);
            } else {
                element.attachEvent(eventName, callback, false);
            }
        }

        //Adding the functionality of reloading the widget with a given url.
        var getButton = document.querySelector('.getTrack');
        var idInput = document.querySelector('.idInput');

        addEvent(getButton, 'click', function() {
            window.location.href = window.location.protocol + idInput.value;
        });


        var connectButton = document.querySelector('.connect');

        addEvent(connectButton, 'click', function() {
            if (SC.accessToken() == null) {
                SC.connect(function() {
                    SC.get('/me', function(me) {
                        SC.Widget(widgetIframe).load("api.soundcloud.com/users/" + me.id + "/favorites", {});
                        document.querySelector(".connect").src = "@routes.Assets.at("images/disconnect.png")";
                    });
                });
            } else {
                SC.accessToken(null);
                SC.Widget(widgetIframe).load("@url", {});
                document.querySelector(".connect").src = "@routes.Assets.at("images/connect.png")";
                if (element.addEventListener) {
                    element.addEventListener(eventName, callback, false);
                } else {
                    element.attachEvent(eventName, callback, false);
                }
            }
        }

        //Adding functionality to the random song button that makes a request when pressed.
        var randButton = document.querySelector('.randSong');
        addEvent(randButton, 'click', function() {
            window.location.href = "http://localhost:9000/random";
        });

        //Reloads the widget with the given song, get the id and then re-renders.
        //the page and computes the preview.
        addEvent(reloadButton, 'click', function() {
            widget.load(widgetUrlInput.value, {
                auto_play : false
            });

            widget.bind(SC.Widget.Events.READY, function() {
                widget.unbind(SC.Widget.Events.READY);
                var pos;
                widget.getCurrentSoundIndex(function(index) {
                    pos = index;
                });
                widget.getSounds(function(sounds) {
                    window.location.href = "http://localhost:9000/tracks/" + sounds[pos].id;
                });
            });
        });

        // Adding functionality to the Preview button. Seeks to a certain point in
        // the music and stops after a couple of seconds.
        addEvent(previewButton, 'click', function(e) {
            widget.bind(SC.Widget.Events.READY, function() {
                if (widget.isPaused(function(paused) {
                    if (paused) {
                        widget.play();
                    }
                }))
                widget.bind(SC.Widget.Events.PLAY, function() {
                    widget.seekTo(songStart);
                    widget.unbind(SC.Widget.Events.PLAY);
                    widget.unbind(SC.Widget.Events.READY);
                });
            });

            widget.bind(SC.Widget.Events.PLAY_PROGRESS, function() {
                widget.getPosition(function(position) {
                    if (position > songEnd) {
                        widget.pause();
                        widget.unbind(SC.Widget.Events.PLAY_PROGRESS);
                    }
                });
            });
        });

        //Adding the functionality to the connect button login and logout.
        var connectButton = document.querySelector('.connect');
        addEvent(connectButton, 'click', function() {
            if (SC.accessToken() == null) {
                    SC.connect(function() {
                        SC.get('/me', function(me) {
                        widget.load("api.soundcloud.com/users/" + me.id + "/favorites", {});
                        connectButton.src = "@routes.Assets.at("images/disconnect.png")";
                    });
                });
            } else {
                SC.accessToken(null);
                widget.load("@url", {});
                connectButton.src = "@routes.Assets.at("images/connect.png")";
            }
        });

    </script>
}
