@(snipStart: Double)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>"Welcome to the Soundcloud Discovery Page!"</title>

        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/index.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/api.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/index.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/connect.js")"></script>

        <script type="text/javascript" src="http://connect.soundcloud.com/sdk.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


        <meta name="viewport" content="width=device-width, initial-scale=1" />
            <!--[if lte IE 8]><script src="assets/css/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/photon.css")" />
            <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie/v8.css" /><![endif]-->
            <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie/v9.css" /><![endif]-->
            <!--[if lte IE 8]><script src="assets/css/ie/respond.min.js"></script><![endif]-->
    </head>

    <body>
            <!-- Header -->
        <section id="header">
            <div class="inner">
                    <!-- <span class="icon major fa-cloud"></span> -->
                <h1><strong>Discover</strong></h1>
                <p> Find the music you love</p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Discover</a></li>
                </ul>
            </div>
        </section>

            <!-- One -->
        <section id="one" class="main style1" style="height: 750px">
            <div class="container">
            @content
            </div>
        </section>

            <!-- Four -->
        <section id="four" class="main style2 special">
            <div class="container">
                <header class="major">
                    <h2>Ipsum feugiat consequat?</h2>
                </header>
                <p>Sed lacus nascetur ac ante amet sapien.</p>
                <ul class="actions uniform">
                    <li><a href="#" class="button special">Sign Up</a></li>
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </div>
        </section>

            <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                @*<li>&copy; Untitled</li>*@
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </section>
    </body>
</html>