@(start: Integer)(player: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>"Welcome to the Soundcloud Discovery Page!"</title>

        <meta charset="UTF-8">

        <script type="text/javascript" src="@routes.Assets.at("javascripts/api.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/scroll.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/waveform.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.cookie.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/modernizr.mq.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.joyride-2.1.js")"></script>
        <script type="text/javascript" src="http://connect.soundcloud.com/sdk.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/photon.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/joyride-2.1.css")" />


        <script>
	        $(document).ajaxError(function(e, xhr, settings, exception) {
	            console.log('DEBUG: error in: ' + settings.url + ' \n'+'exception: ' + exception );
	        });
            $.getScript("/assets/javascripts/tracks.js");
            $.getScript('/assets/javascripts/controls.js');
        </script>

        <script>
            var start = @start;
        </script>
    </head>

    <body onload="loadScroll()" onunload="saveScroll()">
            <!-- Header -->
        <section id="header">
            <div class="inner">
                    <!-- <span class="icon major fa-cloud"></span> -->
                <h1 id="disc"><strong>Discover</strong></h1>
                <p> Find the music you love</p>
            </div>
        </section>

            <!-- One -->
        <section id="one" class="main style1">
            <div class="container">
                <div class="row 150%">
                    <div class="8u 12u$(medium)">
                        <input type="text" id="search" placeholder="Enter Soundcloud url of the track.">
                    </div>
                    <div class="4u$ 12u$(medium)">
                        <button class="connect" id="connect">Log In</button> <br>
                    </div>

                    <div>
                        <ul id="searchList" class="search"></ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="two" class="main style1">
            <div class="container">
                <div class="row 150%">
                    <div class="8u 12u$(medium)">
                        <div class="player">
                        @player
                        </div>
                        <a id="favorites">My Collection</a>
                        <a id="help">Help Tour</a>
                    </div>
                    <div class="4u$ 12u$(medium) important(medium)">
                        <div class="controls">
                            <a id="switch" class="toggler off">off</a>  Autoplay  <br>
                            <label for="volume"></label><input type="range" class="control" id="volume">
                            <button class="control" id="preview">Preview</button> <br>
                            <button class="connect" id="connect">Connect</button> <br>
                            <button class="control" id="prev">Prev</button><button class="control" id="next">
                            Next</button> <br>
                            <button class="control" id="like">Like</button><button class="control" id="dislike">
                            Dislike</button> <br>

                            <button class="control" id="recommend">Recommend</button> <br>
                            <button class="control" id="sendWave">Mix Splitter</button> <br>
                            <button class="control" id="rand">Random Song</button> <br>
                            <p id="modeLabel">AUTO</p>
                            <input type="range" class="control" id="algoMode" value="0" step="33">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="tracklist" class="main style1">
            <div class="container">
                <div class="row 150%">
                    <div>
                        <ul id="trackList" class="track"></ul>
                    </div>

                </div>
            </div>
        </section>

            <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/contextproject" class="icon alt fa-github"><span class="label">
                    GitHub</span></a></li>
                <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </section>

            <!-- Tip Content -->
        <ol id="joyRideTipContent">
            <li data-id="disc" data-text="Next">
                <h2>Welcome to Discover</h2>
                <p>The place to discover new music. Take this tour to learn more about this page.</p>
                <p>(Press Escape to skip this tour or click on the 'Skip' button)</p>
            </li>
            <li data-id="url" data-button="Next" >
                <h2>Search bar</h2>
                <p>Here you can put the url of the song you want to listen to.</p>
            </li>
            <li data-id="reload" data-button="Next" >
                <h2>Reload!!</h2>
                <p>Load the song which you filled in, in the previous step.</p>
            </li>
            <li data-class="sound__content" data-button="Next" >
                <h2>SoundCloud player</h2>
                <p>This is the SoundCloud player where you can actually play the music, comment on the song and etc.</p>
            </li>
            <li data-id="volume" data-button="Next" >
                <h2>Change the volume!</h2>
                <p>Here you can change the volume of the song that is playing</p>
            </li>
            <li data-id="preview" data-button="Next" >
                <h2>Preview a song</h2>
                <p>This gives you a short 10 second preview of how the song sounds like.</p>
            </li>
            <li data-id="next" data-button="Next" data-options="tipLocation: left" >
                <h2>Next!</h2>
                <p>Gives the next song or gives the next part of the current song.</p>
            </li>
            <li data-id="prev" data-button="Next" >
                <h2>Previous</h2>
                <p>Opposite of next.</p>
            </li>
            <li data-id="rand" data-button="Next" >
                <h2>You want something else?</h2>
                <p>Loads a random song from SoundCloud.</p>
            </li>
            <li data-id="sendWave" data-button="Next" >
                <h2>Split the Mix!</h2>
                <p>Splits a mix in different part to play separately.</p>
            </li>
            <li data-id="connect" data-button="Next" >
                <h2>Account login</h2>
                <p>Allows you to connect with you SoundCloud account</p>
            </li>
            <li data-id="like" data-button="Next" >
                <h2>Like!</h2>
                <p>When you are connected with your account, then you are able to like the current song.</p>
            </li>
            <li data-id="dislike" data-button="Next" data-options="tipLocation: left" >
                <h2>Dislike!</h2>
                <p>You can also dislike a song.</p>
            </li>
            <li data-id="help" data-button="Close" >
                <h2>Forgot something?</h2>
                <p>You can retake this tour if you press this link</p>
            </li>
        </ol>

    </body>
</html>
